In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

import os
os.environ['TF_ENABLE_ONEDNN_OPTS'] = '0'

In [2]:
df1 = pd.read_csv("DailyDelhiClimateTrain.csv")
df2 = pd.read_csv("DailyDelhiClimateTest.csv")

df = pd.concat([df1, df2])

In [3]:
df

           date   meantemp   humidity  wind_speed  meanpressure
0    2013-01-01  10.000000  84.500000    0.000000   1015.666667
1    2013-01-02   7.400000  92.000000    2.980000   1017.800000
2    2013-01-03   7.166667  87.000000    4.633333   1018.666667
3    2013-01-04   8.666667  71.333333    1.233333   1017.166667
4    2013-01-05   6.000000  86.833333    3.700000   1016.500000
..          ...        ...        ...         ...           ...
109  2017-04-20  34.500000  27.500000    5.562500    998.625000
110  2017-04-21  34.250000  39.375000    6.962500    999.875000
111  2017-04-22  32.900000  40.900000    8.890000   1001.600000
112  2017-04-23  32.875000  27.500000    9.962500   1002.125000
113  2017-04-24  32.000000  27.142857   12.157143   1004.142857

[1576 rows x 5 columns]